.Mastery {
  width: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;
}

.Header {
  height: 3rem;

  display: flex;
  align-items: center;

  border-bottom: 1px solid black;
}

.Header > * {
  margin: auto;
}

.Profile {
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem;
}

.SummonerIcon {
  width: 4rem;

  border-radius: 50%;
}

.SummonerName {
  font-size: 24px;
  color: white;
  margin: 1rem;
}

.MasteryLevel {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.MasteryLevel > h1 {
  font-size: 24px;
  color: rgb(255, 215, 0);
}

.ChampionGrid {
  width: 100%;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(15, 6rem);
  gap: 10px;

  align-items: center;
  justify-content: left;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.ChampionPortrait {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  background: rgb(40, 40, 60);
  color: white;
}

.Chest {
  position: absolute;
  bottom: 1rem;
  right: 0rem;

  background: black;
}

.ChampionIcon {
  width: 100%;
}
