body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(50, 50, 60);
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 110);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 80, 90);
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  background: rgb(30, 30, 40);
}

